<!-- Clients Aside -->
    <aside class="clients" id="clients">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Who we've worked with</h3>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2 col-sm-6 logo-col">
                    <img src="img/logos/etrade.png" class="img-responsive img-centered client-logo" alt="">
                </div>

                <div class="col-md-2 col-sm-6 logo-col">
                    <img src="img/logos/brookings.png" class="img-responsive img-centered client-logo" alt="">
                </div>

                <div class="col-md-2 col-sm-6 logo-col">
                    <img src="img/logos/adobe-logo.png" class="img-responsive img-centered client-logo" alt="">
                </div>

                <div class="col-md-2 col-sm-6 logo-col">
                    <img src="img/logos/ericsson-logo.png" class="img-responsive img-centered client-logo" alt="">
                </div>

                <div class="col-md-2 col-sm-6 logo-col">
                    <img src="img/logos/morningstar-logo.png" class="img-responsive img-centered client-logo" alt="">
                </div>

                <div class="col-md-2 col-sm-6 logo-col">
                    <img src="img/logos/spectrum.png" class="img-responsive img-centered client-logo" alt="">
                </div>

            </div>
        </div>
    </aside>