<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">Design-centric solutions to meet your project needs</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Visualization</h4>
                    <p class="text-muted">Tap the full potential of your data. We build visualizations, data stories and data management applications to enable you to work with the truth behind the numbers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UI/UX Design + Development</h4>
                    <p class="text-muted">User experience is critical to any successful service offering. We design experiences to turn your users into your biggest fans.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Creative Technology</h4>
                    <p class="text-muted">Technology in the service of a creative vision. We work with 2D/3D graphics, physical installations and/or projection mapping to bring the creative vision to life.</p>
                </div>
            </div>
        </div>
    </section>